@font-face {
    font-family: 'Apercu';
    src: url($Apercu-Light2) format('woff2'),
        url($Apercu-Light) format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url($Apercu-Regular2) format('woff2'),
        url($Apercu-Regular) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url($Apercu-Mono-Pro) format('otf');
    font-weight: normal;
    font-style: normal;
}


/*
    "Apercu-Light-otf": "assets/apercu_light.otf",
    "Apercu-Mono-Pro": "assets/apercu_mono_pro.otf",
    "Apercu-Regular-Italic-Pro": "assets/apercu_regular_italic_pro.otf",
    "Apercu-Regular-otf": "assets/apercu_regular.otf"
*/

body {
    font-family: 'Apercu', 'Arial', sans-serif;
}

code {
    font-family: 'Apercu';
}
